body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:363px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39 {
  position:absolute;
  left:-6px;
  top:0px;
}
#u39_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u41 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:21px;
  width:74px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43 {
  position:absolute;
  left:275px;
  top:21px;
  width:88px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u44 {
  position:absolute;
  left:0px;
  top:-11px;
  visibility:hidden;
}
#u44_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u44_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u46 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:10px;
  top:106px;
  width:353px;
  height:477px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u48 {
  position:absolute;
  left:10px;
  top:32px;
  width:100px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
