body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u26 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:52px;
  top:211px;
  visibility:hidden;
}
#u27_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:246px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:246px;
}
#u29 {
  position:absolute;
  left:2px;
  top:115px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:30px;
  top:550px;
  width:273px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
